@model FinalRecycleProject.Models.UserDetails
@{
    ViewBag.Title = "CreateOrUpdate";
   // Layout = "~/Views/_ViewStart.cshtml";
}

@if (Model.City == "Troy")
{
<h2> Thank you.  Your request will be processed within 2 weeks.</h2>
}
else
{
    <h2>Thank You. Your request will be sent to the appropriate Location </h2>
}




